# すべてのファイルの除外を指定。
*
# ディレクトリは許可(これをしないと、ディレクトリの中のファイルが除外されてしまう)
!*/

# 例外的に許可
!*.py 
!*.ipynb
!.gitignore
!*.sav
!*.md
!*.html
!*.csv

# 明示的に追跡しない対象を登録
# .pyc: pyファイル(ソースコード)をコンパイルした結果のバイトコードを含むファイル
# (Pythonはバイトコードを保存しておくことで、コンパイル時間を短縮)
*.pyc


# 自作パッケージのbuildディレクトリ以下をignore
build/*
